.pai {
  background-color: darkblue;
  height: 50px;
  width: 50px;
  /* position: fixed; */
  /* position: sticky;  */
  position: absolute;
  top: 200px;
  /* left: 200px; */
}

.filho {
  background-color: blue;
  height: 50%;
  width: 50%;
  position: relative;
  top: 700px;
  right: 10px;
  left: 20px;
}

.espaco {
  height: 1900px;
  background-color: royalblue;
}